<div id="forgot-password" style="display:none">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form", role: "form" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', type: 'email', required: true, placeholder: "Your email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to "Log in", new_session_path(resource_name), class: "log-in-link" %><br />
  <%= link_to "Sign up", new_registration_path(resource_name), class: "sign-up-link" %><br />

</div>
