<!doctype html>
<!--Conditionals for IE9 Support-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <%= javascript_include_tag :modernizr %>

    <meta charset="utf-8">
    <title>brgr chkrs</title>
    <meta name="description" content="Ultimate Responsive HTML5 Landing Page" />
		<meta name="keywords" content="responsive html5 template, landing page, bootstrap 3.0, css, jquery" />
		<meta name="author" content="8Guild" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!--Adding Media Queries and Canvas Support for IE8-->
    <!--[if lt IE 9]>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.js"></script>
    <![endif]-->
  </head>

  <!--Body-->
  <body class="space-top">

  	<!--Page Preloading-->
    <div id="preloader"><div id="spinner"></div></div>

    <!--Login Modal-->
    <div class="light-skin modal fade" id="loginModal" tabindex="-1" role="form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

           <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
           <% end %>
            <!-- maybe add placeholders for login form.... -->
            <%= render partial: 'devise/sessions/new' %>
            <%= render partial: 'devise/registrations/new' %>
            <%= render partial: 'devise/passwords/new' %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <%= render 'win_modal' %>
    <%= render 'lose_modal' %>

    <!--Header-->
    <header class="stiky-header">
    	<div class="container group">
      	<a class="logo" href="#home"><%=image_tag('king-burger-1', size:"90x90")%> </a>
        <div class="navi-toggle group">
        	<span class="dot"></span><span class="line"></span>
          <span class="dot"></span><span class="line"></span>
          <span class="dot"></span><span class="line"></span>
          <span class="dot"></span><span class="line"></span>
        </div>
        <% if !current_user %>
          <a class="btn btn-primary btn-login"  data-toggle="modal" data-target="#loginModal"><i class="icon-rocket"></i>Login</a>
        <% else %>
          <%= button_to "Sign Out", destroy_user_session_path, method: 'delete', class: 'btn btn-primary btn-login'  %>
          <!-- <a class="btn btn-primary btn-login" href="/users/sign-out"><i class="icon-user"></i>Sign Out</a> -->
        <% end %>
        <nav class="main-navi">
        	<ul>
          	<li class="active"><a class="scroll-up" href="#">Home</a></li>
            <li class="has-dropdown"><a class="scroll" href="#features">Features<i class="fa fa-caret-down"></i></a>
            	<!-- <ul class="dropdown">
              	<li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
              </ul> -->
            </li>
            <li class="has-dropdown"><a href="coming-soon.html">Coming soon<i class="fa fa-caret-down"></i></a>
            	<!-- <ul class="dropdown">
              	<li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
              </ul> -->
            </li>
            <li><a href="cs-page.html">Components &amp; Styles</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="superclassy">
        <% if notice %>
          <p class="alert alert-success fade in" id="login-success"><%= notice %></p>
       <% end %>
    </div>
    <!--Hero Unit-->
    <section class="hero grad">
    	<div class="container">
          <%= yield %>
      </div>
    </section><!--Close Hero-->
    <%# render 'user_profile' %>
    <%# render 'leaderboard' %>
    <%# render 'faq' %>
    <%# render 'team' %>

    <!--Footer-->
    <footer class="footer grad">
    	<div class="container">
      	<div class="row">
        	<div class="col-lg-12">
          </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
        	<div class="col-lg-12">
          	<p class="copyright">Created by Diane Cai, Nancy Hawa, and David Rowe <i class="fa fa-space-shuttle"></i></p>
          </div>
        </div>
      </div>
    </footer>

    <!--Scroll To Top Button-->
    <div id="scroll-top" class="scroll-up"><i class="icon-arrow-up"></i></div>

    <!--Javascript (jQuery) Libraries and Plugins-->
    <!-- <script src="js/libs/jquery-1.11.2.min.js"></script> -->
		<!-- <script src="js/plugins/bootstrap.min.js"></script> -->
    <!--Google Remarketing Tag (Placed before </body>)-->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 966923546;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966923546/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
  <%= javascript_include_tag 'application' %>
  </body><!--Close Body-->
</html>
